@charset "utf-8";
.footer {
  margin-top: -3px;
  background-color: #dddddd;
}
.footer .footerCon {
  margin: 0 auto;
  *zoom: 1;
}
.footer .footerCon:after {
  content: "";
  display: block;
  clear: both;
}
.footer .footerCon-links {
  float: left;
  display: inline;
}
.footer .footerCon-links p {
  font-family: "Microsoft yahei";
  font-size: 1.2rem;
  color: #a4a6a5;
}
.footer .footerCon-groups {
  font-family: "Microsoft yahei";
  *zoom: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6089c1;
}
.footer .footerCon-groups:after {
  content: "";
  display: block;
  clear: both;
}
.footer .about {
  float: left;
  display: inline;
}
.footer .about .last {
  border: none;
}
.footer .aboutList {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #aaaaaa;
  color: #a7a7a7;
}
.footer .sina {
  display: inline-block;
}
.footer .sina a {
  display: inline-block;
  margin-right: 5px;
}
.footer .sina img {
  vertical-align: middle;
}
.footer .footerLinks {
  float: right;
  display: inline;
  color: #898989;
}
.footer .footerLink {
  color: #898989;
}
.footer .footerLink:hover {
  color: #ff0000;
  text-decoration: underline;
}
.footer .footerCon-icon {
  float: right;
  display: inline;
}
@media screen and (max-width: 991px) {
  .footer {
    padding: 25px 0;
    box-sizing: border-box;
  }
  .footer .footerCon {
    width: 585px;
  }
  .footer .footerCon-links {
    width: 525px;
    margin-top: 0px;
  }
  .footer .footerCon-links p {
    margin-top: 8px;
  }
  .footer .footerCon-icon {
    width: 50px;
    margin-top: 4px;
  }
  .footer .footerCon-groups {
    padding: 8px 0;
    box-sizing: border-box;
  }
  .footer .aboutList {
    font-size: 1.2rem;
    padding: 0 8px 0 4px;
    box-sizing: border-box;
  }
  .footer .sina {
    margin: -2.6px 0 0 3px;
  }
  .footer .sina img {
    width: 26px;
  }
  .footer .footerLinks {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .footer {
    padding: 32px 0;
    box-sizing: border-box;
  }
  .footer .footerCon {
    width: 760px;
  }
  .footer .footerCon-links {
    width: 688px;
    margin-top: 5px;
  }
  .footer .footerCon-links p {
    margin-top: 8px;
  }
  .footer .footerCon-icon {
    width: 62px;
  }
  .footer .footerCon-groups {
    padding: 8px 0;
    box-sizing: border-box;
  }
  .footer .aboutList {
    font-size: 1.3rem;
    padding: 0 8px 0 4px;
    box-sizing: border-box;
  }
  .footer .sina {
    margin: -2.6px 0 0 16px;
  }
  .footer .sina img {
    width: 26px;
  }
  .footer .footerLinks {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .footer {
    padding: 40px 0;
    box-sizing: border-box;
  }
  .footer .footerCon {
    width: 940px;
  }
  .footer .footerCon-links {
    width: 850px;
    margin-top: 6px;
  }
  .footer .footerCon-links p {
    margin-top: 10px;
  }
  .footer .footerCon-icon {
    width: 80px;
  }
  .footer .footerCon-groups {
    padding: 10px 0;
    box-sizing: border-box;
  }
  .footer .aboutList {
    font-size: 1.4rem;
    padding: 0 10px 0 6px;
    box-sizing: border-box;
  }
  .footer .sina {
    margin: -7px 0 0 20px;
  }
  .footer .sina img {
    width: 32px;
  }
  .footer .footerLinks {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .footer {
    padding: 40px 0;
    box-sizing: border-box;
  }
  .footer .footerCon {
    width: 1308px;
  }
  .footer .footerCon-links {
    width: 1218px;
    margin-top: 6px;
  }
  .footer .footerCon-links p {
    margin-top: 10px;
  }
  .footer .footerCon-icon {
    width: 80px;
  }
  .footer .footerCon-groups {
    padding: 10px 0;
    box-sizing: border-box;
  }
  .footer .aboutList {
    font-size: 1.4rem;
    padding: 0 10px 0 6px;
    box-sizing: border-box;
  }
  .footer .sina {
    margin: -7px 0 0 20px;
  }
  .footer .sina img {
    width: 32px;
  }
  .footer .footerLinks {
    font-size: 1.4rem;
  }
}
