@charset "utf-8";
.navChildren {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 72px;
  box-sizing: border-box;
}
.navChildren .navChildren-bg {
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.navChildren .navChildren-groups {
  position: absolute;
  top: 0;
  left: 72px;
  height: 100%;
  background-color: #32312f;
}
.navChildren .navChildren-list {
  margin-top: 24px;
}
.navChildren .navChildren-list {
  display: none;
  font-family: "Microsoft yahei";
  color: #ffffff;
}
.navChildren .navChildren-list > ul {
  margin-top: 8px;
}
.navChildren .navChildren-list > ul > li {
  height: 30px;
  line-height: 30px;
  text-indent: 50px;
  cursor: pointer;
}
.navChildren .navChildren-list > ul > li:hover {
  background-color: #000000;
  color: #0ba299;
}
.navChildren .navChildren-title {
  font-family: "Microsoft yahei";
  cursor: pointer;
}
.navChildren .navChildren-title > img {
  width: 23px;
  margin-left: 15px;
}
.navChildren .navChildren-title > span {
  color: #ffffff;
  font-size: 1.6rem;
}
.navChildren .navChildren-title > img,
.navChildren .navChildren-title > span {
  vertical-align: middle;
}
@media screen and (max-width: 991px) {
  .navChildren .navChildren-groups {
    width: 189px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navChildren .navChildren-groups {
    width: 205px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .navChildren .navChildren-groups {
    width: 238px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .navChildren .navChildren-groups {
    width: 328px;
  }
}
